@import 'config';
@import 'utility';
@import 'menu';
@import 'form';
@import 'animations';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
body {
  @include set-background($control-color);
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: set-text-color($control-color);
}
ul {
  list-style: none;
}
hr {
  opacity: 0.3;
}

.company {
  position: absolute;
  left: 0;
  top: 4rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    width: clamp(8rem, calc(10vw + 5rem), 14rem);
  }
  .txt-type {
    font-size: clamp(1rem, calc(1.5vw + 0.4rem), 1.5rem);
    color: darken(set-text-color($control-color), 15);
    position: relative;
    top: -1rem;
    & > .txt {
      color: $light-color;
      border-right: 0.05rem solid darken($light-color, 50);
    }
  }
}

#showcase {
  &:after {
    content: '';
    height: 90vh;
    width: 100%;
    display: block;
    @supports (background-blend-mode: multiply) {
      background: linear-gradient(
          0deg,
          rgba($secondary-color, $background-opacity),
          rgba($primary-color, $background-opacity)
        ),
        $home-image no-repeat center center/cover;
      background-blend-mode: multiply;
      background-attachment: fixed;
    }
  }
  .showcase-content {
    position: absolute;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: animation;
    animation-duration: 3s;

    .header {
      min-height: clamp(5rem, calc(6vw + 3rem), 9.4rem);
      text-align: center;
      .x-large {
        color: $light-color;
        font-weight: bold;
      }
      .medium {
        color: $light-color;
        margin-top: clamp(1rem, calc(4.5vh + 0.3rem), 3rem);
        margin-bottom: clamp(0.5rem, calc(2vw - 1rem), 1rem);
      }
    }
    .btn-lead {
      margin-top: clamp(0.5rem, calc(20vh - 6rem), 3rem);
    }
  }
}

#keys {
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .key {
    display: flex;
    justify-content: center;
    p {
      font-size: clamp(1rem, calc(1.5vw + 0.4rem), 1.5rem);
      display: flex;
      align-items: center;
    }
  }
  & .key:first-child {
    background: darken(set-background-color($control-color), 20);
  }
  & .key:nth-child(2) {
    background: darken(set-background-color($control-color), 15);
  }
  & .key:nth-child(3) {
    background: darken(set-background-color($control-color), 10);
  }
}

#footer {
  @include set-background(darken($control-color, 5));
  text-align: center;
}

@import 'mobile';
