@import 'config';
@import 'utility';
@import 'menu';
@import 'form';
@import 'animations';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
body {
  @include set-background($control-color);
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: set-text-color($control-color);
}
ul {
  list-style: none;
}
hr {
  opacity: 0.3;
}
#showcase:after {
  content: '';
  height: 70vh;
  width: 100%;
  display: block;
  @supports (background-blend-mode: multiply) {
    background: linear-gradient(
        0deg,
        rgba($secondary-color, $background-opacity),
        rgba($primary-color, $background-opacity)
      ),
      $home-image no-repeat center center/cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
  }
}
.showcase-content {
  position: absolute;
  width: 24rem;
  height: 8rem;
  left: 50%;
  top: 30%;
  z-index: 1;
  margin-left: -12rem;
  animation-name: animation;
  animation-duration: 3s;
  .title {
    color: $light-color;
  }
}

#footer {
  @include set-background(darken($control-color, 5));
  text-align: center;
}

@import 'mobile';
